@import url('../colours.css');
.home-container {
    height: 100vh;
    background-color: #CDECF0;
    overflow: hidden;
}
.logo {
    height: 250px;
    margin-top: 200px;
    margin-left: 93px;
}

.people-pic {
    height: 600px;
    position: fixed;
    bottom: 0;
    top: 390px;
    left: 700px;
}

.blurb {
    font-size: 35px;
    margin-left: 93px;
    margin-top: -60px;
    color: var(--dark-blue);
    margin-bottom: 40px;
}

