:root {
    --dark-blue: #383554;
    --background-blue: #CDECF0;
    --mint: #C2F0F6;
    --offwhite: #fffcfc;
    --turquoise: #70B7C1;
    --dark-selected-blue: #252339;
    --background-offwhite: #E2EEF6;
}
